{% extends "base.html" %}
{% block title %}Inicio - Party Box{% endblock %}
{% block topbar_title %}Party Box{% endblock %}

{% block content %}
<style>
  .imagen-inicio {
    background-image: url('{{ url_for('static', filename='Inicio.png') }}');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 120px); /* visible entre topbar y bottombar */
  }
</style>

<div class="imagen-inicio"></div>
{% endblock %}

