{% extends "base.html" %}
{% block title %}Inicio - Party Box{% endblock %}
{% block topbar_title %}Party Box{% endblock %}

{% block content %}
<style>
  body {
    background-image: url('{{ url_for('static', filename='Inicio.png') }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .inicio-transparente {
    height: calc(100vh - 120px); /* visible sin topbar y bottombar */
    width: 100%;
  }
</style>

<div class="inicio-transparente"></div>
{% endblock %}
